body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav {
  height: 100px;
  transition: height .1s ease !important;
}
.active{
  background-color: #1abc9ce6 !important;
  border-radius: 5px;
}

.line{
  content: " ";
  height: 4px;
  width: 80px 
}
.layer{
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: 0.6s opacity;
}
.layer:hover{
  opacity: 1;
}
.fa-plus:before {
  content: "+";
}
input{
  box-shadow: none !important;}
input:focus{
  box-shadow: none !important;
  border-color:transparent !important;
  outline: none;
}
label {
  color:#1abc9c;
  margin-bottom:7px;
  transition: 0.6s top}
.top{
  top:40px!important}
.model{
  z-index:9999
  }
  .model img{width:600px}
@media screen and (max-width: 768px){
  form {width:100%!important}}

  